:root {
    /* --main-bg-color: #00001d; */
    --main-bg-color: red;
    --principle-color: #546e7a;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
}
.content{
    display: block;
}

.logo {
display: block;
margin: auto;
height: 15rem;
width: 15rem;
}
.logo path {
fill: var(--principle-color);
}

.title {
  /*   max-width: 50%; */
    padding: 3em 2em 1em 2em;
    margin: auto;
    text-align: center;
color: var(--principle-color);
    font-size: 1.4rem;
}

.cta {
    display: block;
    max-width: 50%;
    text-decoration: none;
    color: var(--main-bg-color);
    background-color: var(--principle-color);
    cursor: pointer;
    text-align: center;
    padding: 0.6em 1em;
    margin: auto;
    border-radius: 0.5em;
}

@media screen and (max-width: 680px) {

    .logo {
        height: 10rem;
        width: 10rem;
    }
}